ul{flex-wrap: wrap;}
li a{
    height: 20rem;
    border-radius: 1rem;
    margin: 0.5rem;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;    
}
li a img{
    object-fit: cover;
}
.content{
    position: relative;
    margin-top: 0.3rem;
}
img.hover_img{
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
}
li a:hover img.hover_img{
    visibility: visible;
    opacity: 1;
    z-index: 10;
    transform: translateY(0%);
    transition: all 0.3s linear;
}
li a:hover img.default_img{
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
.price{
    position: absolute;
    padding: 10px 0 10px 20px;
    background-color: #b91c1c;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    color: white;
    width: 209px;
}