<div class="space-top"></div>
<div class="space-top"></div>
<app-page-not-found
    [visible]="!products || !products.length"
    resetLinkText="Reset Search">
</app-page-not-found>
<div class="flex mx-w mx-auto">
    <ul class="flex justify-center items-center mx-w mx-auto">
        <ul *ngFor="let data of products">
            <li *ngIf="data.metalType?.includes('diamond')">
                <a routerLink='/product/{{data.id}}'
                    class="relative md:w-60 w-52 shadow hover:shadow-xl flex justify-center flex-col">
                    <img class="w-8/12 z-10 default_img absolute top-6 left-10" src="/assets/images/{{data.metalType}}/{{data.imageDis}}"
                        [alt]="data.name" />
                    <img class="w-8/12 z-10 hover_img absolute top-6 left-10" src="/assets/images/{{data.metalType}}/{{data.imageHov}}"
                        [alt]="data.name" />
                    <div class="content absolute top-16">
                        <div class="text-sm px-5 font-medium py-2 h-16 flex items-center">{{data.name}}</div>
                        <hr>
                        <div class="font-light px-5 py-1">Weight: {{data.weight}} gms</div>
                        <hr>
                        <div class="price md:w-60 w-52" *ngIf="data.metalType?.includes('diamond')">
                            <span>Price: {{data.weight * SR | currency:"&#8377; "}}</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </ul>
</div>