<div class="space-top"></div>
<app-banner [banneritems]="bannerImages" class="banner-container" [autoSlide]="true"></app-banner>
<hr class="m-5 mx-w mx-auto">
<porto-slider></porto-slider>
<hr class="m-5 mx-w mx-auto">
<categories></categories>
<hr class="m-5 mx-w mx-auto">
<app-page-not-found
    [visible]="!products || !products.length"
    resetLinkText="Reset Search">
</app-page-not-found>
<!-- <div class="flex mx-w mx-auto">
    <ul class="flex justify-center items-center mx-w mx-auto">
        <li *ngFor="let data of products">
            <a routerLink='/product/{{data.id}}' class="relative px-5 md:w-60 w-52 shadow hover:shadow-xl flex justify-center flex-col">
                <img 
                class="w-8/12 z-10 default_img absolute top-6 left-10" 
                src="/assets/images/{{data.metalType}}/{{data.imageDis}}" 
                [alt]="data.name"/>
                <img 
                class="w-8/12 z-10 hover_img absolute top-6 left-10" 
                src="/assets/images/{{data.metalType}}/{{data.imageHov}}" 
                [alt]="data.name"/>
                <div class="content absolute top-16">
                    <div class="text-base font-medium py-2 h-16 flex items-center">{{data.name}}</div>
                    <hr>
                    <div class="font-light py-1">Weight: {{data.weight}} gms</div>
                    <hr>
                    <div class="mr-auto absolute mt-1" *ngIf="data.metalType?.includes('gold')">
                        <span>Price: {{data.weight*GR | currency:"&#8377; "}}</span>
                    </div>
                    <div class="mr-auto absolute mt-1" *ngIf="data.metalType?.includes('coin')">
                        <span>Price: {{data.weight*GR | currency:"&#8377; "}}</span>
                    </div>
                    <div class="mr-auto absolute mt-1" *ngIf="data.metalType?.includes('silver')">
                        <span>Price: {{data.weight*SR | currency:"&#8377; "}}</span>
                    </div>
                    <div class="mr-auto absolute mt-1" *ngIf="data.metalType?.includes('diamond')">
                        <span>Price: {{data.weight*GR + data.weight*data.makingCost | currency:"&#8377; "}}</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div> -->
<div class="flex mx-w mx-auto">
    <app-title title="Featured Products" margin="0 0 0 0" color="#616161"></app-title>
    <ul class="flex justify-center items-center mx-w mx-auto">
        <li *ngFor="let data of products">
            <a routerLink='/product/{{data.id}}' *ngIf="data.featured == 'true'" class="relative px-5 md:w-60 w-52 shadow hover:shadow-xl flex justify-center flex-col">
                <img 
                class="w-8/12 z-10 default_img absolute top-6 left-10" 
                src="/assets/images/{{data.metalType}}/{{data.imageDis}}" 
                [alt]="data.name"/>
                <img 
                class="w-8/12 z-10 hover_img absolute top-6 left-10" 
                src="/assets/images/{{data.metalType}}/{{data.imageHov}}" 
                [alt]="data.name"/>
                <div class="content absolute top-16">
                    <div class="text-base font-medium py-2 h-16 flex items-center">{{data.name}}</div>
                    <hr>
                    <div class="font-light py-1">Weight: {{data.weight}} gms</div>
                    <hr>
                    <div class="mr-auto absolute mt-1" *ngIf="data.metalType?.includes('gold')">
                        <span>Price: {{data.weight*GR | currency:"&#8377; "}}</span>
                    </div>
                    <div class="mr-auto absolute mt-1" *ngIf="data.metalType?.includes('coin')">
                        <span>Price: {{data.weight*GR | currency:"&#8377; "}}</span>
                    </div>
                    <div class="mr-auto absolute mt-1" *ngIf="data.metalType?.includes('silver')">
                        <span>Price: {{data.weight*SR | currency:"&#8377; "}}</span>
                    </div>
                    <div class="mr-auto absolute mt-1" *ngIf="data.metalType?.includes('diamond')">
                        <span>Price: {{data.weight*GR + data.weight*data.makingCost | currency:"&#8377; "}}</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

