p{
    font-size: 50px;
}
input{
    padding: 10px;
    width: 100%;
    background-color: #e4dedefd;
    margin-bottom: 5px;
    border-radius: 5px;
    outline: none;
}
.imageUpBut{background-color: rgb(185 28 28 / var(--tw-bg-opacity));;color: white;}