<div class="space-top"></div>
<div class="mx-w mx-auto w-full">
    <app-title class="text-center" fontSize="40px" title="Contact Us" margin="2rem 0 1.5rem 0rem"></app-title>
    <div class="flex w-full md:justify-around md:flex-row flex-col items-center md:items-start">
        <form #getHelp="ngForm" (ngSubmit)="get(getHelp.value)" class="flex flex-col w-2/4 md:w-1/4">
            <label for="">Name<span>*</span></label>
            <input type="text" placeholder="Enter Your Name" name="name">
            <label for="">Phone No.<span>*</span></label>
            <input type="text" placeholder="Enter Your Mobile Number" name="number">
            <label for="">Email<span>*</span></label>
            <input type="text" placeholder="Enter Your Email" name="email">
            <label for="">How can we help you?<span>*</span></label>
            <textarea type="text" placeholder="Write your thoughts" name="description"></textarea>
            <button class="bg-red-700 px-5 py-3 text-white rounded w-full bo-ra5 cupo">Get Help</button>
        </form>
        <div class="md:w-1/4 w-1/2">
            <app-title title="Contact Detalis"></app-title>
            <div class="flex mb-2">
                <div class="flex justify-center items-center w-12 h-12 text-white rounded bg-red-700"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <div class="ml-2">
                    <p>+91 1234567890</p>
                    <p>10AM to 6PM IST</p>
                </div>
            </div>
            <a href="" class="flex items-center">
                <div class="flex justify-center items-center w-12 h-12 text-white rounded bg-red-700"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                <div class="ml-2">
                    <p>jewellers&#64;gmail.com</p>
                </div>
            </a>
        </div>
    </div>
</div>