<table>
    <tr>
        <td colspan="5">
            <h3>Order Items:</h3>
        </td>
    </tr>
    <tr *ngFor="let data of order.items">
        <td><a href="" routerLink="/product/{{data.product.id}}"><img src='assets/images/{{data.product.metalType}}/{{data.product.imageDis}}' /></a></td>
        <td>{{data.product.name}}</td>
        <td>{{data.product.price | currency:"&#8377; "}}</td>
        <td>{{data.quantity}}</td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td><strong>Total:</strong></td>
        <td><strong>{{order.totalPrice | currency:"&#8377: "}}</strong></td>
    </tr>
</table>