.cont-1 .secondPart .flex{
    width: 726px;
}
.cont-1 .secondPart .flex h4{
    width: 300px;
    margin-left: 40px;
}
.cont-1 .secondPart .flex .icons{
    width: 300px;
    margin-left: 40px;
}
.cont-1 .secondPart .flex .horizontal-bar{
    margin-left:40px;
    font-size: 40px;
}
.cont-1 .secondPart .flex .icons i{
    padding: 20px;
}
.cont-1 .secondPart .bg{
    background-image: url("/assets/images/schemes/cont-1-bg.png");
    background-size: cover;
}
.cont-1 .discover{
    width: 100px !important;
}
.cont-1 .font-thin{
    width: 452px !important;
    padding-left: 20px;
}
.cont-2 h3{
    font-weight: bolder;font-size: 20px;
    background-color: #b91c1c;
    color: white;
    display: inline;
    padding: 2px 5px 5px;
    margin: 30px 0;
}
.cont-2 h4{
    font-weight: bold; 
    font-size: 15px;
}
.cont-2 ul li p, .gold-products li, .contact li{
    margin-left: 20px;
}
.gold-products li, .contact li{
    margin: 10px 20px;
}
li span{
    font-weight: bold;
}
.cont-2 h2{
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}
.cont-2 ul li p{
    margin: 10px 0 10px 20px;
}
.cont-2 ul{
    margin: 0 10px;
}
@media screen and (max-width: 550px) {
    .cont-2 h2{
        font-size: 24px;
    }
    .cont-1 .secondPart .flex{
        width: 500px;
    }
}
