<!-- <app-page-not-found
    [visible]="!food"
    notFoundMsg="Food Not Found"
    resetLinkText="Back to HomePage">
</app-page-not-found> -->
<div class="space-top"></div>
<div *ngIf="product" class="max-w-5xl mt-10 flex flex-col mx-auto justify-between items-center md:flex-row">
    <div class="md:w-1/2 m-3 flex justify-center shadow-md flex-col items-center relative">
        <a (click)="close(true)" class="flex justify-center"><img class="w-10/12 p-2" src="/assets/images/{{product.metalType}}/{{ImgDisHov || product.imageDis}}" [alt]="product.name"></a>
        <div [ngClass]="{'active': closeClass}" class="modal" id="modal">
            <span class="close" (click)="close(false)">&times;</span>
            <img class="modal-img" src="/assets/images/{{product.metalType}}/{{ImgDisHov || product.imageDis}}" alt="">
        </div>
        <div class="flex border-t-2">
            <a class="w-1/4 p-2" (click)="showImg(product.imageDis)"><img class="" src="/assets/images/{{product.metalType}}/{{product.imageDis}}" [alt]="product.name"></a>
            <a class="w-1/4 p-2" (click)="showImg(product.imageHov)"><img class="" src="/assets/images/{{product.metalType}}/{{product.imageHov}}" [alt]="product.name"></a>
        </div>
    </div>

    <div class="details md:w-1/2 m-3 w-full p-5">
        <div class="header df jcsb aic">
            <span class="font-medium text-lg">
                {{product.name}}
            </span>
        </div>
        <div>
            <hr class="w-1/6 my-2 mx-1 pt-px bg-gray-400">
        </div>
        <div class="price my-2 mx-1">
            <span *ngIf="product.metalType?.includes('gold')">
                {{GR22*product.weight | currency:"&#8377; "}}
            </span>
            <span *ngIf="product.metalType?.includes('silver')">
                {{SR*product.weight | currency:"&#8377; "}}
            </span>
            <span *ngIf="product.metalType?.includes('diamond')">
                {{GR24*product.weight + GR24*product.makingCost + GR24*product.wastage | currency:"&#8377; "}}
            </span>
        </div>
        <div class="border border-gray-700 rounded-lg p-1">
            <h3 class="font-medium">PRICE BREAKUP</h3>
            <div class="font-medium">
                <div class="flex gap-3 items-center price-break" *ngIf="product.metalType?.includes('gold')">
                    <span>22KT GOLD<br> {{GR22 * product.weight | currency:"&#8377; "}} </span><div>+</div>
                    <span>MC<br> {{GR22*product.makingCost/100*product.weight | currency:"&#8377; "}} </span><div>+</div>
                    <span>Wastage<br> {{product.wastage/100*GR22 | currency:"&#8377; "}}</span><div>+</div>
                    <span>GST(3.00%)<br> {{gst*GR22}}</span>
                </div>
                <div class="flex gap-3 items-center price-break" *ngIf="product.metalType?.includes('silver')">
                    <span>22KT GOLD<br> {{SR * product.weight | currency:"&#8377; "}} </span><div>+</div>
                    <span>MC<br> {{SR*product.makingCost/100*product.weight | currency:"&#8377; "}} </span><div>+</div>
                    <span>Wastage<br> {{product.wastage/100*SR | currency:"&#8377; "}}</span><div>+</div>
                    <span>GST(3.00%)<br> {{gst*SR | currency:"&#8377; "}}</span>
                </div>
                <div class="flex gap-3 items-center price-break" *ngIf="product.metalType?.includes('diamond')">
                    <span>22KT GOLD<br> {{GR24 * product.weight | currency:"&#8377; "}} </span><div>+</div>
                    <span>MC<br> {{GR24*product.makingCost/100*product.weight | currency:"&#8377; "}} </span><div>+</div>
                    <span>SC<br> {{product.stoneCarat*GR24*product.weight | currency:"&#8377; "}}</span><div>+</div>
                    <!-- <span>Wastage<br> {{product.wastage/100*GR | currency:"&#8377; "}}</span><div>+</div> -->
                    <span>GST(3.00%)<br> {{gst*GR24 | currency:"&#8377; "}}</span>
                </div>
            </div>
        </div>
        <div class="description my-2 mx-1">
            <span class="text-sm">
                {{product.description}}
            </span>
        </div>
        <hr class="w-full my-2 mt-4">
        <button (click)="addToCart()" class="button-36 px-2" role="button">Add to Cart</button>
        <hr class="w-full my-2">
    </div>
</div>